/* ==========================================================================
   breakcrumbs
   ========================================================================== */
.container-breadcrumbs {
	height : 27px;
}
.breadcrumb {
  padding: 3px 15px;
  margin-bottom: 0;
  list-style: none;
  border-radius: 4px;
  color: #000;
}
.breadcrumb > li {
  display: inline-block;
  color: #000;
}
.breadcrumb > li  > a{
  color: #000;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #000;
  content: "->";
}
.breadcrumb > .active {
  color: #777;
}
/* ------------------------------------------- */

.stage_nav {
  background-color: #000;
  color:#fff;
}
@media (min-width: 768px) {
  .stage_nav {
  }
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* ==========================================================================
   bs callout
   ========================================================================== */
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    margin: 20px 0;
    padding: 20px;
}
.bs-callout-warning {
    border-left-color: #aa6708;
	border-right-color: #aa6708;
}
.col-xs-3 .col-md-3 {
	padding-left: 10px !import;
	padding-right: 0;
}

.product {
	
}
.product img {
	height: 400px;
	width: 400px;
}
.description_title {
	margin-top : -30px;
}