<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="UC Stage,Aluminum Truss,Truss Clamps , Portable stage,Flight Case,Road Case,Rack Case,Stage Truss,Lighting Truss,Truss Clamp,Mobile Stage,Modular Stage,Staging,Crowd Barrier,Cable Ramp" />
	<meta name="description" content="UC Stage Professional on produce Aluminum Truss System,Pipe and Drape,Portable stage,Flight Road Case in high quality but wholesale in lowest prices. We are the supplier of world several famous brands" />
    <title>UC Stage</title>
    <link rel="shortcut icon" href="../../images/u_favicon.ico">
    <!-- CSS includes -->
    <link href="../../third-lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../third-lib/bootstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../css/theme.css" rel="stylesheet">
    <link href="../../css/custom.css" rel="stylesheet">
    <link href="../../third-lib/pgwslideshow/pgwslideshow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="../../index.html" title="UC Stage">
                    <img class="img-responsive" src="../../images/logo.png" alt="UC Stage" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="../../index.html" class="smooth-scroll">Home</a>
                    </li>
                    <li>
                        <a href="../../index.html#products" class="smooth-scroll">Products</a>
                    </li>
                    <li>
                        <a href="../../index.html#services" class="smooth-scroll">Services</a>
                    </li>
                    <li>
                        <a href="../../index.html#customers" class="smooth-scroll">Customers</a>
                    </li>
                    <li>
                        <a href="../../index.html#gallery" class="smooth-scroll">Gallery</a>
                    </li>
                    <li>
                        <a href="../../index.html#certifications" class="smooth-scroll">Certifications</a>
                    </li>
                    <li>
                        <a href="http://www.aliexpress.com/store/1849054" class="smooth-scroll" target="_blank">Aliexpress</a>
                    </li>
                    <li>
                        <a href="../../index.html#subfooter" class="smooth-scroll">Contacts Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Navbar -->

    <!-- breadcrumbs -->
    <div class="container-breadcrumbs">
        <ol class="breadcrumb">
            <li>
                <a href="../../index.html">Home</a>
            </li>
            <li class="active" href="../../goods/6.html">U33 290mm triangle truss</li>
        </ol>
    </div>
    <!-- breadcrumbs -->

    <!-- main -->
    <div class="container-main container-fluid">
        <row>
            <div class="nav col-xs-12 col-sm-12 col-md-3 col-lg-2">
                <ul id="accordion" class="accordion">
                    <li class="default open">
                        <div class="link">
                            <i class="fa fa-list-ul"></i>
                            <span>Aluminum Truss</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            <li>
                                <a href="../goods/37.html">U31 single tube truss</a>
                            </li>
                            <li>
                                <a href="../goods/2.html">U14 100mm square truss</a>
                            </li>
                            <li>
                                <a href="../goods/36.html">U22 220mm ladder truss</a>
                            </li>
                            <li>
                                <a href="../goods/3.html">U23 220mm triangle truss</a>
                            </li>
                            <li>
                                <a href="../goods/4.html">U24 220mm square truss</a>
                            </li>
                            <li>
                                <a href="../goods/5.html">U32 290mm ladder truss</a>
                            </li>
                            <li class="active">
                                <a href="../goods/6.html">U33 290mm triangle truss</a>
                            </li>
                            <li>
                                <a href="../goods/7.html">U34 290mm square truss  2mmthickness</a>
                            </li>
                            <li>
                                <a href="../goods/38.html">U34 290mm square truss 3mmthickness</a>
                            </li>
                            <li>
                                <a href="../goods/8.html">U42 400mm ladder truss</a>
                            </li>
                            <li>
                                <a href="../goods/9.html">U43 400mm triangle truss</a>
                            </li>
                            <li>
                                <a href="../goods/10.html">U44 400mm square truss 2mm thickness</a>
                            </li>
                            <li>
                                <a href="../goods/39.html">U44 400mm square truss 3mm thickness</a>
                            </li>
                            <li>
                                <a href="../goods/40.html">U52 530mm ladder truss</a>
                            </li>
                            <li>
                                <a href="../goods/41.html">U7652 760x520 aluminum truss</a>
                            </li>
                            <li>
                                <a href="../goods/42.html">Bolt truss</a>
                            </li>
                            <li>
                                <a href="../goods/13.html">Truss Accessories</a>
                            </li>
                            <li>
                                <a href="../goods/12.html">Tower System</a>
                            </li>
                            <li>
                                <a href="../goods/43.html">Truss project</a>
                            </li>
                            <li>
                                <a href="../goods/45.html">Truss Furniture</a>
                            </li>
                            <li>
                                <a href="../goods/11.html">Baseplate</a>
                            </li>
                            <li>
                                <a href="../goods/48.html">Crank Stand</a>
                            </li>
                            <li>
                                <a href="../goods/47.html">Safety Cable</a>
                            </li>
                        </ul>
                        
                    </li>
                    <li>
                        <div class="link">
                            <i class="fa fa-list-ul"></i>
                            <span>Truss Clamp</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            <li>
                                <a href="../goods/16.html">18-21mm</a>
                            </li>
                            <li>
                                <a href="../goods/17.html">32-35mm</a>
                            </li>
                            <li>
                                <a href="../goods/18.html">48-51mm</a>
                            </li>
                            <li>
                                <a href="../goods/19.html">58-61mm</a>
                            </li>
                            <li>
                                <a href="../goods/20.html">other_size</a>
                            </li>
                        </ul>
                        
                    </li>
                    <li>
                        <div class="link">
                            <i class="fa fa-list-ul"></i>
                            <span>Flight Case</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            <li>
                                <a href="../goods/22.html">Lighting Cases</a>
                            </li>
                            <li>
                                <a href="../goods/23.html">Plasma TV Cases</a>
                            </li>
                            <li>
                                <a href="../goods/24.html">Rack Cases</a>
                            </li>
                            <li>
                                <a href="../goods/25.html">Speaker Cases</a>
                            </li>
                            <li>
                                <a href="../goods/26.html">Utility Cases</a>
                            </li>
                            <li>
                                <a href="../goods/27.html">Custom Cases</a>
                            </li>
                            <li>
                                <a href="../goods/54.html">Accessries</a>
                            </li>
                        </ul>
                        
                    </li>
                    <li>
                        
                        
                        <div class="link single-link">
                            <a href="../goods/29.html">Cable Ramp</a>
                        </div>
                    </li>
                    <li>
                        <div class="link">
                            <i class="fa fa-list-ul"></i>
                            <span>Stage</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            <li>
                                <a href="../goods/31.html">Adjustable Stage</a>
                            </li>
                            <li>
                                <a href="../goods/32.html">Assembly Stage</a>
                            </li>
                            <li>
                                <a href="../goods/33.html">Portable Stage</a>
                            </li>
                        </ul>
                        
                    </li>
                    <li>
                        <div class="link">
                            <i class="fa fa-list-ul"></i>
                            <span>Stage Effect Products</span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="submenu">
                            <li>
                                <a href="../goods/51.html">Lasers</a>
                            </li>
                            <li>
                                <a href="../goods/52.html">Lights</a>
                            </li>
                            <li>
                                <a href="../goods/53.html">Others</a>
                            </li>
                        </ul>
                        
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10">
                <!-- product Detail - START -->
                <div class="row product-detail">
                    <div class="col-md-6">
                        <ul class="pgwSlideshow">
                            <li>
                                <img src="../../upload-dir/6/U33-2W-C90/U33-2W-C90.jpg">
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h2>U33 2W C90</h2>
                        <p>
                            <div id="star">
                                <h4 class="star">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </h4>
                            </div>
                        </p>
                        <br />
                        <p class="text-justify"><p>U33 2W C90</p></p>
                        <br />
						<!--
                        <h4>Sizes:
                            <span style="color: #197BB5" th:text="${goods.size}">S</span>
                        </h4>
                        <h4 class="colors">Colors:
                            <span class="color black" th:text="${goods.color}"></span>
                        </h4>
						-->
                        <br />
                        <br />
                    </div>
                </div>
                <div class="row product-detail">
                    <div class="text-center">
                        <br />
                        <h1>Related Products</h1>
                    </div>
                    <div class="">
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="63.html">
                                <img class="img-responsive" src="../../upload-dir/6/TR-U33-0.5-5M/TR-U33-0.5-5M.jpg">
                                <div class="overlay">
                                    <h2>TR U33 0.5 5M</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="64.html">
                                <img class="img-responsive" src="../../upload-dir/6/TR-U33-BASE/TR-U33-BASE.jpg">
                                <div class="overlay">
                                    <h2>TR U33 BASE</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="65.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-W-C120/U33-2W-C120.jpg">
                                <div class="overlay">
                                    <h2>U33 W C120</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="66.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-2W-C135/U33-2W-C135.jpg">
                                <div class="overlay">
                                    <h2>U33 2W C135</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="67.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-2W-C45/U33-2W-C45.jpg">
                                <div class="overlay">
                                    <h2>U33 2W C45</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="68.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-2W-C60/U33-2W-C60.jpg">
                                <div class="overlay">
                                    <h2>U33 2W C60</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="70.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-2W-IN/U33-2W-IN.jpg">
                                <div class="overlay">
                                    <h2>U33 2W IN</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="71.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-2W-OUT/U33-2W-OUT.jpg">
                                <div class="overlay">
                                    <h2>U33 2W OUT</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="72.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-3W-1/U33-3W-1.jpg">
                                <div class="overlay">
                                    <h2>U33 3W 1</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="73.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-3W-2/U33-3W-2.jpg">
                                <div class="overlay">
                                    <h2>U33 3W 2</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="74.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-3W-3/U33-3W-3.jpg">
                                <div class="overlay">
                                    <h2>U33 3W 3</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="75.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-3W-4/U33-3W-4.jpg">
                                <div class="overlay">
                                    <h2>U33 3W 4</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="76.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-4W-1/U33-4W-1.jpg">
                                <div class="overlay">
                                    <h2>U33 4W 1</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="77.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-4W-2/U33-4W-2.jpg">
                                <div class="overlay">
                                    <h2>U33 4W 2</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="78.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-4W-3/U33-4W-3.jpg">
                                <div class="overlay">
                                    <h2>U33 4W 3</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="79.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-4W-4/U33-4W-4.jpg">
                                <div class="overlay">
                                    <h2>U33 4W 4</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="80.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-4W-5/U33-4W-5.jpg">
                                <div class="overlay">
                                    <h2>U33 4W 5</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="81.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-4W-6/U33-4W-6.jpg">
                                <div class="overlay">
                                    <h2>U33 4W 6</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="82.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-5W-1/U33-5W-1.jpg">
                                <div class="overlay">
                                    <h2>U33 5W 1</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="83.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-5W-2/U33-5W-2.jpg">
                                <div class="overlay">
                                    <h2>U33 5W 2</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="84.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-5W-3/U33-5W-3.jpg">
                                <div class="overlay">
                                    <h2>U33 5W 3</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="85.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-6W-1/U33-6W-1.jpg">
                                <div class="overlay">
                                    <h2>U33 6W 1</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="86.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-T-1/U33-T-1.jpg">
                                <div class="overlay">
                                    <h2>U33 T 1</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="87.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-T-2/U33-T-2.jpg">
                                <div class="overlay">
                                    <h2>U33 T 2</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-4 thumbnail">
                            <a class="product-thumbnail" href="88.html">
                                <img class="img-responsive" src="../../upload-dir/6/U33-T-3/U33-T-3.jpg">
                                <div class="overlay">
                                    <h2>U33 T 3</h2>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </row>
    </div>
    <!-- main -->
    <footer id="subfooter" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p style="font-size:18px;"><span class="fa fa-thumbs-o-up text-danger"></span> VISIT US</p>
                    <p>We are promise excellent sevice and top quality to our customers.<br>You will never regret choose us.<br> Will provide gorgeous sounding & lighting effect.</p>
                </div>
                <div class="col-md-3">
                    <p style="font-size:18px;"><span class="fa fa-clock-o text-danger"></span> OPEN HOURS</p>
                    <p>Mon-Fri :  8:00am - 6:00pm</p>
                    <p>Sat-Sun : 10:00am - 5:00pm</p>
                </div>
                <div class="col-md-3">
                    <p style="font-size:18px;"><span class="fa fa-map-marker text-danger"></span> CONTACTS</p>
                    <p>Longgang district ShenZhen city,Guangdong Provice,China</p>
                    <p>0086 18617291781</p>
                   
                </div>
                <div class="col-md-3">
                    <p style="font-size:18px;">
                        <span class="fa fa-envelope-o text-danger"></span> NEWSLETTER</p>
                    <p>
                        <div class="input-group">
                            <a href="mailto:info@ucstage.com" style="color:#fff;font-weight:bold;">info@ucstage.com</a>
                        </div>
                    </p>
                    <p>
                        <br />
                    </p>
                    <p>
                        <a class="fa fa-twitter footer-socialicon" target="_blank" href="https://twitter.com/UC_Stage"></a>
                        <a class="fa fa-facebook footer-socialicon" target="_blank" href="https://www.facebook.com/UCStage"></a>
                        <a class="fa fa-shopping-cart footer-socialicon" target="_blank" href="http://www.aliexpress.com/store/1849054"></a>
                        <a class="fa fa-linkedin footer-socialicon" target="_blank" href="https://plus.google.com/"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <footer id="footer" class="clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-7">

                </div>
                <div class="col-md-5">
                    <p>Created by <a href="https://www.ucstage.com" title="UC Stage">UC STAGE INTERNATIONAL LIMITIED CO.,LTD. </a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../third-lib/jquery/js/jquery.min.js"></script>
    <script src="../../third-lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../js/theme.js"></script>
    <script src="../../js/sharing.js"></script>
    <script src="../../js/custom.js"></script>
    <script src="../../third-lib/pgwslideshow/pgwslideshow.min.js"></script>

    <script type="text/javascript">
        jQuery(function($) {
            $('.pgwSlideshow').pgwSlideshow();
        });
    </script>

</body>

</html>